<!DOCTYPE html>
<html>

<head>
    <title>Party List Databse</title>
    <link rel="stylesheet" href="styles/{{site}}.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/styles/colortheme.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
  <header>
    <div class="header-container">
        <img src="resources/Letters-with-shield-full-color.png" id="headerImage">
        {% block navBar %}
          include{}
        {% endblock %}
    </div>
  </header>

    <div class="section-pad">
      {% block body %}

      {% endblock %}
    </div>
</body>

</html>
