<!DOCTYPE html>
<html>

<head>
    <title>Party List Databse</title>
    <link rel="stylesheet" href="/resources/css/{{site}}.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/resources/css/colortheme.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
  <header>
    <div class="header-container">
        <img src="resources/Letters-with-shield-full-color.png" id="headerImage">
        <div class="w3-bar w3-theme" id="nav-var">
            <a href="mainPage.html" class="nav-bar w3-bar-item w3-button w3-large w3-mobile">Home</a>
            <a href="listMain.html" class="nav-bar w3-bar-item w3-button w3-large w3-mobile ">List</a>
            <!-- Check if user is authorized to see admin page and add option to nav bar -->
            {% if userIsAdmin %}
              <a href="listMain.html" class="nav-bar w3-bar-item w3-button w3-large w3-mobile ">Admin</a>
            {% endif %}
            <a href="settings.html" class="w3-bar-item w3-button w3-right w3-large w3-mobile"><span class="glyphicon glyphicon-cog"></span></a>
        </div>

        <!-- {% block navBar %}
        Not in use for now
        {% endblock %} -->
    </div>
  </header>

    <div class="section-pad">
      {% block body-1%}

      {% endblock %}

      {% block body-2%}

      {% endblock %}

      {% block body-3%}

      {% endblock %}
    </div>
</body>

</html>
