

{% extends 'base.html'%}


{% block body-1%}
<div class="w3-container w3-half list-wrapper">

    <div id="mainListContainer" class="list-container">

      <div class="list-container">
          <span class="genderLabel">List: </span>
          <select type="selectList" id="listSelected" name="tableID">
          <option value="guysListTable">Guys</option>
          <option value="girlsListTable">Girls</option>
          <option value="blacklistTable">Blacklist</option>
          <option value="generalTable">General</option>
        </select>
      </div>

      <br>

      <input type="text" name="searchbar" value="" placeholder="Search names..." class="search-bar">
        <table id="mainList" class="list-table">
            <thead id="mainListHead">
                <tr>
                    <th class="headCol">First Name</th>
                    <th class="headCol">Last Name</th>
                    <th class="headCol">
                        <div class="centered-selection">
                          <span >
                            Options
                          </span>
                        </div>

                    </th>
                </tr>
            </thead>
            <tbody id="mainListBody">
                <tr>
                    <td class="nameCol">Juan</td>
                    <td class="nameCol">Rodriguez</td>
                    <td class="nameCol">
                        <div class=""><span class="glyphicon glyphicon-edit"></span> <span class="fa fa-trash-o"></span> <span class="glyphicon glyphicon-ban-circle"></span> </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <br>

        <div id="inputForm">
            <form id="addPersonForm">
                <input style="display: inline;" label="firstName" type="text" name="firstName" placeholder="First Name" class="w3-input w3-border">
                <input style="display: inline;" label="lastName" type="text" name="lastName" placeholder="Last Name" class="w3-input w3-border">
                <!--&lt;!&ndash; - Actual list with scroll down-->
                <div class="form-item">
                  <button label="sendButton" id="addButton" type="submit" value="Send"> Add </button>
                </div>

                <!-- - Checkbox next to each name, edit pen-->
            </form>
        </div>

    </div>

</div>
{% endblock %}

{% block body-2%}
<div class="w3-quarter inner-section w3-container">
  <div class="filter-bar-Title">
    <span>Stats</span>
  </div>

  <div class="filter-item-inside-item w3-half">
    <p><strong>Guys:</strong> X</p>

  </div>
  <div class="filter-item-inside-item w3-half">
    <p><strong>Ratio:</strong> X</p>
  </div>
</div>
{% endblock %}
