
/*@charset "utf-8";*/
/* CSS Document */
body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
    /*background-color: #999999;*/
    /*color: #696969;*/
    /*padding: 3px;*/
}

#inputForm input[type=text] {
    width: 200px;
    padding: 3px 5px;
    margin: 4px 0;
    border-radius: 1px;
}


h1 {
    font-family: Georgia, serif;
    /*border-bottom: 3px solid #5c5c4f;*/
    color: gray;
    font-size: 30px;
}

button{
    width: 100px;
    padding: 5px 15px;
    margin-top: 10px;
    margin-bottom: 0px;
}

#addButton{
  position: relative;;
  top: 50%;
}
#nav-var > a{
  width: 10%;
}



.filter-bar-Title{
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.filter-item-title{
  font-size: 14px;
  font-weight: bold;
  border-top: 1px solid lightgray;
  padding: 5px 0 0 0;
}

.filter-item-inside-item{
  margin: 0 4px;
}

.section-title{
  border-bottom: 2px solid gray;
}

.inner-section{
  margin-top: 10px;
}

.section-pad{
    padding-top: 10px;
    padding-bottom: 10px;
    width: inherit;
    background-color: #ffffff;
}

.headCol {
  width: 200px;
}

.centered-selection{
  text-align: center;
}

.form-item{
  display: inline;
}

.list-wrapper{
  margin-top: 10px;
  text-align: center;
  display: table;
}

.list-container{
  margin: 5px 0 5px 0;
  display: table;
  text-align: left;
}

.search-bar{
  width: 100%;
  padding: 0 4px;
  margin: 10px 0 5px 0;
  border: 1px solid lightgray;
}

.list-table{
  margin: auto;
}

.nameCol{
  /*background-color: blue;*/
  width: 200px;
}




#mainList{
    border-collapse: collapse;
}

#mainListBody {
    display: block;
    overflow-y: scroll;
    max-height: 300px;
}

#mainListBody > tr {
    border-bottom: 1px solid #CCCCCC;
    /*color: white;*/
}

#mainListBody> tr:nth-child(even){
    background-color: #ebebeb;
}

#mainListHead{
    display: block;
    background-color: #cc3333;
    color: white;
    /*position: absolute;*/
}

#mainListBody td:last-child{
    text-align: center;
}
