.w3-theme-l5 {color:#000 !important; background-color:#fbf4f3 !important}
.w3-theme-l4 {color:#000 !important; background-color:#f3d9d7 !important}
.w3-theme-l3 {color:#000 !important; background-color:#e7b4af !important}
.w3-theme-l2 {color:#fff !important; background-color:#db8e87 !important}
.w3-theme-l1 {color:#fff !important; background-color:#cf685f !important}
.w3-theme-d1 {color:#fff !important; background-color:#ad3e34 !important}
.w3-theme-d2 {color:#fff !important; background-color:#9a372e !important}
.w3-theme-d3 {color:#fff !important; background-color:#873028 !important}
.w3-theme-d4 {color:#fff !important; background-color:#732922 !important}
.w3-theme-d5 {color:#fff !important; background-color:#60221d !important}

.w3-theme-light {color:#000 !important; background-color:#fbf4f3 !important}
.w3-theme-dark {color:#fff !important; background-color:#60221d !important}
.w3-theme-action {color:#fff !important; background-color:#60221d !important}

.w3-theme {color:#fff !important; background-color:#c04539 !important}
.w3-text-theme {color:#c04539 !important}
.w3-border-theme {border-color:#c04539 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#c04539 !important}
.w3-hover-text-theme {color:#c04539 !important}
.w3-hover-border-theme:hover {border-color:#c04539 !important}
